<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290192217279-gh3gieucqpd09cflks22gsq5cv67042p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290192217279-gh3gieucqpd09cflks22gsq5cv67042p</string>
	<key>API_KEY</key>
	<string>AIzaSyA-j6AFcBNZVQk8hTtvNZSxHPsAfG3YiYc</string>
	<key>GCM_SENDER_ID</key>
	<string>290192217279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.rubeenferreiraa.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchatios13-9500d</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchatios13-9500d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290192217279:ios:bab93d69a121e64445620a</string>
</dict>
</plist>